asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.12.14
charset-normalizer==3.4.1
comtypes==1.4.8
Django==5.1.4
idna==3.10
pypiwin32==223
pyttsx3==2.98
pywin32==308
requests==2.32.3
soupsieve==2.6
SpeechRecognition==3.12.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
wikipedia==1.4.0
